<h1>Burgers!</h1>

<h2>Burgers To Be Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <li>
           <p>ID: {{this.id}}</p>
           <p>Burger: {{this.burger_name}}</p>
        </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Tasted Good...</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
        <li>
           <p>ID: {{this.id}}</p>
           <p>Burger: {{this.burger_name}}</p>
        </li>
    {{/if}}
  {{/each}}
</ul>

<button>I'm A BUTTON</button>